<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/responsive.css">
    <title>Students</title>
</head>

<body>
    <nav class="navbar background h-nav-resp">
        <ul class="nav-list v-class-resp">
            <div class="logo"><img src="/static/images/logo.jpg" alt="logo"></div>
            <li><a href="/">Home</a></li>
            <li><a href="/timetable">Timetable</a></li>
            <li><a href="/noticeboard">Notice Board</a></li>
            <li><a href="/students/students/">Students</a></li>
        </ul>
        <div class="rightNav v-class-resp">
           <form action = "/students/search/" method = "get">
            <input type="text" name="query" id="search">
            <button type = "submit" class="btn btn-sm">Search</button>
            </form>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>

<br>
<br>

    <!-- Section for the students table -->
    <table class="timetable">
        <caption>Our Students</caption>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Year</th>
                <th scope="col">Branch</th>
            </tr>
        </thead>
        <tbody>
            {% for x in students %}
            <tr>
                <td data-label="Roll"> <a href = "/students/{{x.name}}">{{x.roll}}</a></td>
                <td data-label="Name">{{x.name}}</td>
                <td data-label="Year">{{x.year}}</td>
                <td data-label="Branch">{{x.branch}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <footer class="background">
        <p class="text-footer">
            Copyright &copy; 2021 @ IIIT-Bh - Designed and Developed by Musaib and Lopamudra
        </p>
    </footer>
    <script src="/static/resp.js"></script>
</body>

</html>