<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/responsive.css">
    <title>Timetable</title>
</head>

<body>
    <nav class="navbar background h-nav-resp">
        <ul class="nav-list v-class-resp">
            <div class="logo"><img src="/static/images/logo.jpg" alt="logo"></div>
            <li><a href="/">Home</a></li>
            <li><a href="/timetable">Timetable</a></li>
            <li><a href="/noticeboard">Notice Board</a></li>
            <li><a href="/students/students">Students</a></li>
        </ul>
        <div class="rightNav v-class-resp">
            <form method  = "post" action = "/timetable/">
                    <select class="custom-select form-control" name = "branch" id = "branch">
                    <option selected>Select Your Branch and Batch</option>
                    <option value = "CSE-24">CSE-24</option>
                    <option value = "IT-24">IT-24</option>
                    <option value = "CE-24">CE-24</option>
                    <option value = "ETC-24">ETC-24</option>
                    <option value = "EEE-24">EEE-24</option>
                    <option value = "CSE-23">CSE-23</option>
                    <option value = "IT-23">IT-23</option>
                    <option value = "CE-23">CE-23</option>
                    <option value = "ETC-23">ETC-23</option>
                    <option value = "EEE-23">EEE-23</option>
                    <option value = "CSE-22">CSE-22</option>
                    <option value = "IT-22">IT-22</option>
                    <option value = "CE-22">CE-22</option>
                    <option value = "ETC-22">ETC-22</option>
                    <option value = "EEE-22">EEE-22</option>
                    <option value = "CSE-21">CSE-21</option>
                    <option value = "IT-21">IT-21</option>
                    <option value = "CE-21">CE-21</option>
                    <option value = "ETC-21">ETC-21</option>
                    <option value = "EEE-21">EEE-21</option>
                    </select>
                    {% csrf_token %}
                    <button class = "btn btn-sm" type  = "submit">View</button>
          </form>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
<br>
<br>
    <table class = "timetable">
        <caption>Time Table</caption>
        <thead>
            <tr>
                <th scope="col">Branch</th>
                <th scope="col">Subject</th>
                <th scope="col">Teacher</th>
                <th scope="col">Timings</th>
                <th scope="col">Days</th>
            </tr>
        </thead>
        <tbody>
            {% for x in timetable  %}
            <tr>
                <td data-label="Branch"> {{x.branch}}</td>
                <td data-label="Subject">{{x.subject}}</td>
                <td data-label="Teacher">{{x.teacher}}</td>
                <td data-label="Timing">{{x.timing}} </td>
                <td data-label="Days">{{x.days}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <footer class="background">
        <p class="text-footer">
            Copyright &copy; 2021 @ Nectar &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Designed and Developed by Musaib and Lopamudra
        </p>
    </footer>
    <script src="/static/resp.js"></script>

</body>

</html>